<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link" routerLink="/login" routerLinkActive="active">
      <button type="button" class="btn btn-outline-secondary mr-2"          placement="right" popoverTitle="Popover on right">Login
      </button>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" routerLink="/prestations" routerLinkActive="active">
      <button type="button" class="btn btn-outline-secondary mr-2"      placement="right" popoverTitle="Popover on right">Prestations
      </button>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" routerLink="/clients" routerLinkActive="active">
      <button type="button" class="btn btn-outline-secondary mr-2" placement="right" popoverTitle="Popover on right">Cliens
      </button>
    </a>
  </li>

</ul>
